<!-- transaction warning -->

<div class="m-6">
  <div class="grid grid-cols-2 gap-4 grid-row-7">
    <div
      class="bg-[#227C70] h-[250px] flex flex-col p-[20px] justify-center rounded-xl my-auto items-center"
    >
      <h1
        class="text-3xl font-bold justify-center flex flex-col items-center my-auto mx-auto"
      >
        <span class="font-mono">Food</span>
        <span
          *ngIf="!isFoodUpdateShowing"
          class="mt-3 text-sm font-merriweather"
        >
          <ng-container *ngIf="budgetCategory.food != null"
            >Budget : {{ budgetCategory.food }}</ng-container
          >
        </span>
      </h1>

      <span
        class="text-[10px] text-sm mt-5 text-white flex justify-start w-full"
      >
        <ng-container *ngIf="updateProgressBar('Food') < 0">
          *set budget is lower than the spent value
        </ng-container>
        <ng-container *ngIf="updateProgressBar('Food') >= 0">
          {{ updateProgressBar("Food") }}%
        </ng-container>
      </span>

      <div
        class="h-[10px] w-full bg-black dark:bg-black justify-start align-start rounded-xl"
      >
        <div
          class="h-[10px] flex justify-center text-center items-center text-xs font-medium text-primary-100 rounded-xl"
          [style.width.%]="updateProgressBar('Food')"
          [style.backgroundColor]="getColor('Food')"
        ></div>
      </div>

      <div class="mt-10 mx-auto w-full items-center justify-center flex">
        <div
          class="flex space-x-4 w-full mx-auto justify-center"
          *ngIf="budgetCategory.food == null"
        >
          
          <input
            id="addFieldFood"
            [(ngModel)]="foodBudget"
            type="text"
            class="px-3 py-2 text-black rounded-md caret-black w-56 shadow-button"
            placeholder="Enter Budget"
            [ngClass]="{ 'animate-shake': isFoodGreater }"
            #foodInput
          />

          <button
            (click)="setBudget('Food', foodBudget, 'addFieldFood')"
            class="rounded-sm"
          >
            <p
              class="cursor-pointer text-white bg-[#7C9070] hover:bg-[#9CA777] rounded-md p-1 px-2 text-[15px] shadow-button"
            >
              Add Budget
            </p>
          </button>
        </div>
        <div *ngIf="budgetCategory.food != null" class="flex space-x-4">
          <p
            *ngIf="!isFoodUpdateShowing"
            (click)="doToggle('Food')"
            class="cursor-pointer text-white bg-info hover:bg-[#1366a1] rounded-md p-1 px-2 text-[15px] border border-white shadow-button"
          >
            Update<span><i class="fa fa-pen-to-square ml-2"></i></span>
          </p>

          <div class="flex space-x-4 w-full" *ngIf="isFoodUpdateShowing">
            
            <input
              id="updateFoodBudgetBox"
              [(ngModel)]="updatedFoodBudget"
              type="text"
              class="px-3 py-2 text-black rounded-md caret-black w-56 shadow-button"
              placeholder="Enter Budget"
            />
            <button
              (click)="
                updateBudget('Food', updatedFoodBudget, 'updateFoodBudgetBox')
              "
            >
              <p
                class="cursor-pointer text-white bg-info hover:bg-[#1366a1] rounded-md p-1 px-2 text-[15px] border border-white shadow-button"
              >
                Update
              </p>
            </button>
          </div>

          <p
            *ngIf="!isFoodUpdateShowing"
            (click)="deleteConfirmation('Food')"
            class="cursor-pointer text-white bg-danger hover:bg-[#ab2b11] shadow-button border border-white rounded-md p-1 px-3 text-[15px]"
          >
            Delete<span><i class="fa fa-trash-alt ml-2"></i></span>
          </p>
        </div>
      </div>
    </div>

    <!-- ------------------------------------------------------- -->

    <div
      class="bg-[#227C70] h-[250px] flex flex-col p-[20px] justify-center rounded-xl my-auto"
    >
      <h1
        class="text-3xl font-bold justify-center flex flex-col items-center my-auto mx-auto"
      >
        <span class="font-mono">Transport</span>
        <span
          *ngIf="!isTransportUpdateShowing"
          class="mt-3 text-sm font-merriweather"
        >
          <ng-container *ngIf="budgetCategory.transport != null"
            >Budget : {{ budgetCategory.transport }}</ng-container
          >
        </span>
      </h1>

      <span class="text-[10px] ml-2 text-sm mt-5 text-white">
        <ng-container *ngIf="updateProgressBar('Transport') < 0">
          *set budget is lower than the spent value
        </ng-container>
        <ng-container *ngIf="updateProgressBar('Transport') >= 0">
          {{ updateProgressBar("Transport") }}%
        </ng-container>
      </span>
      <div
        class="h-[10px] w-full bg-black dark:bg-black justify-start align-start rounded-xl"
      >
        <div
          class="h-[10px] flex justify-center text-center items-center text-xs font-medium text-primary-100 rounded-xl"
          [style.width.%]="updateProgressBar('Transport')"
          [style.backgroundColor]="getColor('Transport')"
        ></div>
      </div>

      <div class="mt-10 mx-auto">
        <div class="flex space-x-4" *ngIf="budgetCategory.transport == null">
          
          <input
            id="addFieldTransport"
            [(ngModel)]="transportBudget"
            type="text"
            class="px-3 py-2 text-black rounded-md caret-black w-56 shadow-button"
            placeholder="Enter Budget"
          />

          <button
            (click)="
              setBudget('Transport', transportBudget, 'addFieldTransport')
            "
            class="rounded-sm"
          >
            <p
              class="cursor-pointer text-white bg-[#7C9070] hover:bg-[#9CA777] rounded-md p-1 px-2 text-[15px] shadow-button"
            >
              Add Budget
            </p>
          </button>
        </div>
        <div *ngIf="budgetCategory.transport != null" class="flex space-x-4">
          <p
            *ngIf="!isTransportUpdateShowing"
            (click)="doToggle('Transport')"
            class="cursor-pointer text-white bg-info hover:bg-[#1366a1] rounded-md p-1 px-2 text-[15px] border border-white shadow-button"
          >
            Update<span><i class="fa fa-pen-to-square ml-2"></i></span>
          </p>

          <div class="flex space-x-4" *ngIf="isTransportUpdateShowing">
            

            <input
              id="updateTransportBudgetBox"
              [(ngModel)]="updatedTransportBudget"
              type="text"
              class="px-3 py-2 text-black rounded-md caret-black w-56 shadow-button"
              placeholder="Enter Budget"
            />

            <button
              (click)="
                updateBudget(
                  'Transport',
                  updatedTransportBudget,
                  'updateTransportBudgetBox'
                )
              "
            >
              <p
                class="cursor-pointer text-white bg-info hover:bg-[#1366a1] rounded-md p-1 px-2 text-[15px] border border-white shadow-button"
              >
                Update
              </p>
            </button>
          </div>

          <p
            *ngIf="!isTransportUpdateShowing"
            (click)="deleteConfirmation('Transport')"
            class="cursor-pointer text-white bg-danger hover:bg-[#ab2b11] shadow-button border border-white rounded-md p-1 px-3 text-[15px]"
          >
            Delete<span><i class="fa fa-trash-alt ml-2"></i></span>
          </p>
        </div>
      </div>
    </div>

    <!-- ---------------------------------------------------- -->

    <div
      class="bg-[#88A47C] h-[250px] flex flex-col p-[20px] justify-center rounded-xl my-auto"
    >
      <h1
        class="text-3xl font-bold justify-center flex flex-col items-center my-auto mx-auto"
      >
        <span class="font-mono">Entertainment</span>
        <span
          *ngIf="!isEntertainmentUpdateShowing"
          class="mt-3 text-sm font-merriweather"
        >
          <ng-container *ngIf="budgetCategory.entertainment != null"
            >Budget : {{ budgetCategory.entertainment }}</ng-container
          >
        </span>
      </h1>

      <span class="text-[10px] ml-2 text-sm mt-5 text-white">
        <ng-container *ngIf="updateProgressBar('Entertainment') < 0">
          *set budget is lower than the spent value
        </ng-container>
        <ng-container *ngIf="updateProgressBar('Entertainment') >= 0">
          {{ updateProgressBar("Entertainment") }}%
        </ng-container>
      </span>
      <div
        class="h-[10px] w-full bg-black dark:bg-black justify-start align-start rounded-xl"
      >
        <div
          class="h-[10px] flex justify-center text-center items-center text-xs font-medium text-primary-100 rounded-xl"
          [style.width.%]="updateProgressBar('Entertainment')"
          [style.backgroundColor]="getColor('Entertainment')"
        ></div>
      </div>

      <div class="mt-10 mx-auto">
        <div
          class="flex space-x-4"
          *ngIf="budgetCategory.entertainment == null"
        >
          
          <input
            id="addFieldEntertainment"
            [(ngModel)]="entertainmentBudget"
            type="text"
            class="px-3 py-2 text-black rounded-md caret-black w-56 shadow-button"
            placeholder="Enter Budget"
          />

          <button
            (click)="
              setBudget(
                'Entertainment',
                entertainmentBudget,
                'addFieldEntertainment'
              )
            "
            class="rounded-sm"
          >
            <p
              class="cursor-pointer text-white bg-[#7C9070] hover:bg-[#9CA777] rounded-md p-1 px-2 text-[15px] shadow-button"
            >
              Add Budget
            </p>
          </button>
        </div>
        <div
          *ngIf="budgetCategory.entertainment != null"
          class="flex space-x-4"
        >
          <p
            *ngIf="!isEntertainmentUpdateShowing"
            (click)="doToggle('Entertainment')"
            class="cursor-pointer text-white bg-info hover:bg-[#1366a1] rounded-md p-1 px-2 text-[15px] border border-white shadow-button"
          >
            Update<span><i class="fa fa-pen-to-square ml-2"></i></span>
          </p>

          <div class="flex space-x-4" *ngIf="isEntertainmentUpdateShowing">
            
            <input
              id="updateEntertainmentBudgetBox"
              [(ngModel)]="updatedEntertainmentBudget"
              type="text"
              class="px-3 py-2 text-black rounded-md caret-black w-56 shadow-button"
              placeholder="Enter Budget"
            />

            <button
              (click)="
                updateBudget(
                  'Entertainment',
                  updatedEntertainmentBudget,
                  'updateEntertainmentBudgetBox'
                )
              "
            >
              <p
                class="cursor-pointer text-white bg-info hover:bg-[#1366a1] rounded-md p-1 px-2 text-[15px] border border-white shadow-button"
              >
                Update
              </p>
            </button>
          </div>

          <p
            *ngIf="!isEntertainmentUpdateShowing"
            (click)="deleteConfirmation('Entertainment')"
            class="cursor-pointer text-white bg-danger hover:bg-[#ab2b11] shadow-button border border-white rounded-md p-1 px-3 text-[15px]"
          >
            Delete<span><i class="fa fa-trash-alt ml-2"></i></span>
          </p>
        </div>
      </div>
    </div>

    <!-- --------------------------------------------------- -->

    <!-- <div class="grid grid-cols-3 grid-row-2 gap-1"> -->
    <!-- ----------------------------------- -->
    <div
      class="bg-[#88A47C] h-[250px] flex flex-col p-[20px] justify-center rounded-xl my-auto"
    >
      <h1
        class="text-3xl font-bold justify-center flex flex-col items-center my-auto mx-auto"
      >
        <span class="font-mono">Shopping</span>
        <span
          *ngIf="!isShoppingUpdateShowing"
          class="mt-3 text-sm font-merriweather"
        >
          <ng-container *ngIf="budgetCategory.shopping != null"
            >Budget : {{ budgetCategory.shopping }}</ng-container
          >
        </span>
      </h1>

      <span class="text-[10px] ml-2 text-sm mt-5 text-white">
        <ng-container *ngIf="updateProgressBar('Shopping') < 0">
          *set budget is lower than the spent value
        </ng-container>
        <ng-container *ngIf="updateProgressBar('Shopping') >= 0">
          {{ updateProgressBar("Shopping") }}%
        </ng-container>
      </span>
      <div
        class="h-[10px] w-full bg-black dark:bg-black justify-start align-start rounded-xl"
      >
        <div
          class="h-[10px] flex justify-center text-center items-center text-xs font-medium text-primary-100 rounded-xl"
          [style.width.%]="updateProgressBar('Shopping')"
          [style.backgroundColor]="getColor('Shopping')"
        ></div>
      </div>

      <div class="mt-10 mx-auto">
        <div class="flex space-x-4" *ngIf="budgetCategory.shopping == null">
          
          <input
            id="addFieldShopping"
            [(ngModel)]="shoppingBudget"
            type="text"
            class="px-3 py-2 text-black rounded-md caret-black w-56"
            placeholder="Enter Budget"
          />

          <button
            (click)="setBudget('Shopping', shoppingBudget, 'addFieldShopping')"
            class="rounded-sm"
          >
            <p
              class="cursor-pointer text-white bg-[#7C9070] hover:bg-[#9CA777] rounded-md p-1 px-2 text-[15px] shadow-button"
            >
              Add Budget
            </p>
          </button>
        </div>
        <div *ngIf="budgetCategory.shopping != null" class="flex space-x-4">
          <p
            *ngIf="!isShoppingUpdateShowing"
            (click)="doToggle('Shopping')"
            class="cursor-pointer text-white bg-info hover:bg-[#1366a1] rounded-md p-1 px-2 text-[15px] border border-white shadow-button"
          >
            Update<span><i class="fa fa-pen-to-square ml-2"></i></span>
          </p>

          <div class="flex space-x-4" *ngIf="isShoppingUpdateShowing">
            
            <input
              id="updateShoppingBudgetBox"
              [(ngModel)]="updatedShoppingBudget"
              type="text"
              class="px-3 py-2 text-black rounded-md caret-black w-56 shadow-button"
              placeholder="Enter Budget"
            />

            <button
              (click)="
                updateBudget(
                  'Shopping',
                  updatedShoppingBudget,
                  'updateShoppingBudgetBox'
                )
              "
            >
              <p
                class="cursor-pointer text-white bg-info hover:bg-[#1366a1] rounded-md p-1 px-2 text-[15px] border border-white shadow-button"
              >
                Update
              </p>
            </button>
          </div>

          <p
            *ngIf="!isShoppingUpdateShowing"
            (click)="deleteConfirmation('Shopping')"
            class="cursor-pointer text-white bg-danger hover:bg-[#ab2b11] shadow-button border border-white rounded-md p-1 px-3 text-[15px]"
          >
            Delete<span><i class="fa fa-trash-alt ml-2"></i></span>
          </p>
        </div>
      </div>
    </div>

    <!-- ----------------------------------------------- -->
    <div
      class="bg-[#227C70] h-[250px] flex flex-col p-[20px] justify-center rounded-xl my-auto"
    >
      <h1
        class="text-3xl font-bold justify-center flex flex-col items-center my-auto mx-auto"
      >
        <span class="font-mono">Utilities</span>
        <span
          *ngIf="!isUtilitiesUpdateShowing"
          class="mt-3 text-sm font-merriweather"
        >
          <ng-container *ngIf="budgetCategory.utilities != null">
            Budget : {{ budgetCategory.utilities }}</ng-container
          >
        </span>
      </h1>

      <span class="text-[10px] ml-2 text-sm mt-5 text-white">
        <ng-container *ngIf="updateProgressBar('Utilities') < 0">
          *set budget is lower than the spent value
        </ng-container>
        <ng-container *ngIf="updateProgressBar('Utilities') >= 0">
          {{ updateProgressBar("Utilities") }}%
        </ng-container>
      </span>
      <div
        class="h-[10px] w-full bg-black dark:bg-black justify-start align-start rounded-xl"
      >
        <div
          class="h-[10px] flex justify-center text-center items-center text-xs font-medium text-primary-100 rounded-xl"
          [style.width.%]="updateProgressBar('Utilities')"
          [style.backgroundColor]="getColor('Utilities')"
        ></div>
      </div>

      <div class="mt-10 mx-auto">
        <div class="flex space-x-4" *ngIf="budgetCategory.utilities == null">
          
          <input
            id="addFieldUtilities"
            [(ngModel)]="utilitiesBudget"
            type="text"
            class="px-3 py-2 text-black rounded-md caret-black w-56 shadow-button"
            placeholder="Enter Budget"
          />

          <button
            (click)="
              setBudget('Utilities', utilitiesBudget, 'addFieldUtilities')
            "
            class="rounded-sm"
          >
            <p
              class="cursor-pointer text-white bg-[#7C9070] hover:bg-[#9CA777] rounded-md p-1 px-2 text-[15px] shadow-button"
            >
              Add Budget
            </p>
          </button>
        </div>
        <div *ngIf="budgetCategory.utilities != null" class="flex space-x-4">
          <p
            *ngIf="!isUtilitiesUpdateShowing"
            (click)="doToggle('Utilities')"
            class="cursor-pointer text-white bg-info hover:bg-[#1366a1] rounded-md p-1 px-2 text-[15px] border border-white shadow-button"
          >
            Update<span><i class="fa fa-pen-to-square ml-2"></i></span>
          </p>

          <div class="flex space-x-4" *ngIf="isUtilitiesUpdateShowing">
            
            <input
              id="updateUtilitiesBudgetBox"
              [(ngModel)]="updatedUtilitiesBudget"
              type="text"
              class="px-3 py-2 text-black rounded-md caret-black w-56 shadow-button"
              placeholder="Enter Budget"
            />

            <button
              (click)="
                updateBudget(
                  'Utilities',
                  updatedUtilitiesBudget,
                  'updateUtilitiesBudgetBox'
                )
              "
            >
              <p
                class="cursor-pointer text-white bg-info hover:bg-[#1366a1] rounded-md p-1 px-2 text-[15px] border border-white shadow-button"
              >
                Update
              </p>
            </button>
          </div>

          <p
            *ngIf="!isUtilitiesUpdateShowing"
            (click)="deleteConfirmation('Utilities')"
            class="cursor-pointer text-white bg-danger hover:bg-[#ab2b11] shadow-button border border-white rounded-md p-1 px-3 text-[15px]"
          >
            Delete<span><i class="fa fa-trash-alt ml-2"></i></span>
          </p>
        </div>
      </div>
    </div>

    <!-- ----------------------------------- -->

    <div
      class="bg-[#227C70] h-[250px] flex flex-col p-[20px] justify-center rounded-xl my-auto"
    >
      <h1
        class="text-3xl font-bold justify-center flex flex-col items-center my-auto mx-auto"
      >
        <span class="font-mono">Housing</span>
        <span
          *ngIf="!isHousingUpdateShowing"
          class="mt-3 text-sm font-merriweather"
        >
          <ng-container *ngIf="budgetCategory.housing != null"
            >Budget : {{ budgetCategory.housing }}</ng-container
          >
        </span>
      </h1>

      <span class="text-[10px] ml-2 text-sm mt-5 text-white">
        <ng-container *ngIf="updateProgressBar('Housing') < 0">
          *set budget is lower than the spent value
        </ng-container>
        <ng-container *ngIf="updateProgressBar('Housing') >= 0">
          {{ updateProgressBar("Housing") }}%
        </ng-container>
      </span>
      <div
        class="h-[10px] w-full bg-black dark:bg-black justify-start align-start rounded-xl"
      >
        <div
          class="h-[10px] flex justify-center text-center items-center text-xs font-medium text-primary-100 rounded-xl"
          [style.width.%]="updateProgressBar('Housing')"
          [style.backgroundColor]="getColor('Housing')"
        ></div>
      </div>

      <div class="mt-10 mx-auto">
        <div class="flex space-x-4" *ngIf="budgetCategory.housing == null">
          
          <input
            id="addFieldHousing"
            [(ngModel)]="housingBudget"
            type="text"
            class="px-3 py-2 text-black rounded-md caret-black w-56 shadow-button"
            placeholder="Enter Budget"
          />

          <button
            (click)="setBudget('Housing', housingBudget, 'addFieldHousing')"
            class="rounded-sm"
          >
            <p
              class="cursor-pointer text-white bg-[#7C9070] hover:bg-[#9CA777] rounded-md p-1 px-2 text-[15px] shadow-button"
            >
              Add Budget
            </p>
          </button>
        </div>
        <div *ngIf="budgetCategory.housing != null" class="flex space-x-4">
          <p
            *ngIf="!isHousingUpdateShowing"
            (click)="doToggle('Housing')"
            class="cursor-pointer text-white bg-info hover:bg-[#1366a1] rounded-md p-1 px-2 text-[15px] border border-white shadow-button"
          >
            Update<span><i class="fa fa-pen-to-square ml-2"></i></span>
          </p>

          <div class="flex space-x-4" *ngIf="isHousingUpdateShowing">
            
            <input
              id="updateHousingBudgetBox"
              [(ngModel)]="updatedHousingBudget"
              type="text"
              class="px-3 py-2 text-black rounded-md caret-black w-56 shadow-button"
              placeholder="Enter Budget"
            />

            <button
              (click)="
                updateBudget(
                  'Housing',
                  updatedHousingBudget,
                  'updateHousingBudgetBox'
                )
              "
            >
              <p
                class="cursor-pointer text-white bg-info hover:bg-[#1366a1] rounded-md p-1 px-2 text-[15px] border border-white shadow-button"
              >
                Update
              </p>
            </button>
          </div>

          <p
            *ngIf="!isHousingUpdateShowing"
            (click)="deleteConfirmation('Housing')"
            class="cursor-pointer text-white bg-danger hover:bg-[#ab2b11] shadow-button border border-white rounded-md p-1 px-3 text-[15px]"
          >
            Delete<span><i class="fa fa-trash-alt ml-2"></i></span>
          </p>
        </div>
      </div>
    </div>

    <!-- ----------------------------------------------- -->
    <!-- 
  <div class="grid grid-cols-3 grid-row-2 gap-1"> -->
    <!-- --------------------------- -->

    <div
      class="bg-[#88A47C] h-[250px] flex flex-col p-[20px] justify-center rounded-xl my-auto"
    >
      <h1
        class="text-3xl font-bold justify-center flex flex-col items-center my-auto mx-auto"
      >
        <span class="font-mono">Other</span>
        <span
          *ngIf="!isOtherUpdateShowing"
          class="mt-3 text-sm font-merriweather"
        >
          <ng-container *ngIf="budgetCategory.other != null"
            >Budget : {{ budgetCategory.other }}</ng-container
          >
        </span>
      </h1>

      <span class="text-[10px] ml-2 text-sm mt-5 text-white">
        <ng-container *ngIf="updateProgressBar('Other') < 0">
          *set budget is lower than the spent value
        </ng-container>
        <ng-container *ngIf="updateProgressBar('Other') >= 0">
          {{ updateProgressBar("Other") }}%
        </ng-container>
      </span>
      <div
        class="h-[10px] w-full bg-black dark:bg-black justify-start align-start rounded-xl"
      >
        <div
          class="h-[10px] flex justify-center text-center items-center text-xs font-medium text-primary-100 rounded-xl"
          [style.width.%]="updateProgressBar('Other')"
          [style.backgroundColor]="getColor('Other')"
        ></div>
      </div>

      <div class="mt-10 mx-auto">
        <div class="flex space-x-4" *ngIf="budgetCategory.other == null">
          
          <input
            id="addFieldOther"
            [(ngModel)]="otherBudget"
            type="text"
            class="px-3 py-2 text-black rounded-md caret-black w-56 shadow-button"
            placeholder="Enter Budget"
          />

          <button
            (click)="setBudget('Other', otherBudget, 'addFieldOther')"
            class="rounded-sm"
          >
            <p
              class="cursor-pointer text-white bg-[#7C9070] hover:bg-[#9CA777] rounded-md p-1 px-2 text-[15px] shadow-button"
            >
              Add Budget
            </p>
          </button>
        </div>
        <div *ngIf="budgetCategory.other != null" class="flex space-x-4">
          <p
            *ngIf="!isOtherUpdateShowing"
            (click)="doToggle('Other')"
            class="cursor-pointer text-white bg-info hover:bg-[#1366a1] rounded-md p-1 px-2 text-[15px] border border-white shadow-button"
          >
            Update<span><i class="fa fa-pen-to-square ml-2"></i></span>
          </p>

          <div class="flex space-x-4" *ngIf="isOtherUpdateShowing">
            
            <input
              id="updateOtherBudgetBox"
              [(ngModel)]="updatedOtherBudget"
              type="text"
              class="px-3 py-2 text-black rounded-md caret-black w-56 shadow-button"
              placeholder="Enter Budget"
            />

            <button
              (click)="
                updateBudget(
                  'Other',
                  updatedOtherBudget,
                  'updateOtherBudgetBox'
                )
              "
            >
              <p
                class="cursor-pointer text-white bg-info hover:bg-[#1366a1] rounded-md p-1 px-2 text-[15px] border border-white shadow-button"
              >
                Update
              </p>
            </button>
          </div>

          <p
            *ngIf="!isOtherUpdateShowing"
            (click)="deleteConfirmation('Other')"
            class="cursor-pointer text-white bg-danger hover:bg-[#ab2b11] shadow-button border border-white rounded-md p-1 px-3 text-[15px]"
          >
            Delete<span><i class="fa fa-trash-alt ml-2"></i></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
