<div
  class="px-4 py-4 bg-[#081824] w-full min-h-[calc(100vh-4rem)]"
  style="
    background-image: url('../../../assets/DashboardBG3.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  "
>
  <h1 class="text-4xl font-bold text-white mb-8">Dashboard</h1>

  <div class="grid grid-cols-3 gap-6 mb-6">
    <div
      class="bg-safe rounded-lg p-8 flex justify-between items-center text-white"
    >
      <div class="flex flex-col">
        <h2 class="text-lg font-bold mb-4">Daily Earn</h2>
        <p class="text-3xl font-bold">
          {{ presetTransactions.dailyEarn | currency : "INR" }}
        </p>
      </div>
      <div>
        <span class="text-3xl"><i class="fa fa-sack-dollar"></i></span>
      </div>
    </div>

    <div
      class="bg-safe rounded-lg p-8 flex justify-between items-center text-white"
    >
      <div class="flex flex-col">
        <h2 class="text-lg font-bold mb-4">Monthly Earn</h2>
        <p class="text-3xl font-bold">
          {{ presetTransactions.monthlyEarn | currency : "INR" }}
        </p>
      </div>
      <div>
        <span class="text-3xl"><i class="fa fa-sack-dollar"></i></span>
      </div>
    </div>

    <div
      class="bg-safe rounded-lg p-8 flex justify-between items-center text-white"
    >
      <div class="flex flex-col">
        <h2 class="text-lg font-bold mb-4">Annual Earn</h2>
        <p class="text-3xl font-bold">
          {{ presetTransactions.annualEarn | currency : "INR" }}
        </p>
      </div>
      <div>
        <span class="text-3xl"><i class="fa-solid fa-sack-dollar"></i></span>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-3 gap-6 mb-8">
    <div
      class="bg-orange rounded-lg p-8 flex justify-between items-center text-white"
    >
      <div class="flex flex-col">
        <h2 class="text-lg font-bold mb-4">Daily Spend</h2>
        <p class="text-3xl font-bold">
          {{ presetTransactions.dailySpend | currency : "INR" }}
        </p>
      </div>
      <div>
        <span class="text-3xl"
          ><i class="fa-solid fa-arrow-right-arrow-left"></i
        ></span>
      </div>
    </div>

    <div
      class="bg-orange rounded-lg p-8 flex justify-between items-center text-white"
    >
      <div class="flex flex-col">
        <h2 class="text-lg font-bold mb-4">Monthly Spend</h2>
        <p class="text-3xl font-bold">
          {{ presetTransactions.monthlySpend | currency : "INR" }}
        </p>
      </div>
      <div>
        <span class="text-3xl"
          ><i class="fa-solid fa-arrow-right-arrow-left"></i
        ></span>
      </div>
    </div>

    <div
      class="bg-orange rounded-lg p-8 flex justify-between items-center text-white"
    >
      <div class="flex flex-col">
        <h2 class="text-lg font-bold mb-4">Annual Spend</h2>
        <p class="text-3xl font-bold">
          {{ presetTransactions.annualSpend | currency : "INR" }}
        </p>
      </div>
      <div>
        <span class="text-3xl"
          ><i class="fa-solid fa-arrow-right-arrow-left"></i
        ></span>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4 rounded-lg p-6">
    <div class="backdrop-blur-xl border border-white rounded-lg p-8 flex flex-col justify-center">
      <span class="mb-4 text-white font-bold mx-auto text-xl font-mono"
        >Monthly spendings by category</span
      >
      <p-chart
        type="bar"
        [data]="monthlyCategoriesSpendingsData"
        [options]="monthlyCategoriesSpendingsOptions"
      ></p-chart>
    </div>
    <div class="backdrop-blur-xl border border-white rounded-lg p-8 flex flex-col justify-center">
      <span class="mb-4 text-white font-bold mx-auto text-xl font-mono"
        >Monthly earnings by category</span
      >
      <p-chart
        type="bar"
        [data]="monthlyCategoriesEarningsData"
        [options]="monthlyCategoriesEarningsOptions"
      ></p-chart>
    </div>
  </div>

  <div class="flex flex-col mb-5">
    <div class="text-white text-2xl font-bold mb-3">Transaction averages:</div>
    <div class="flex flex-row justify-center">
      <div
        class="bg-warning rounded-lg p-8 flex flex-col items-center justify-center text-white mx-28"
      >
        <h2 class="text-lg font-bold mb-4">Last 7 days</h2>
        <p class="text-3xl font-bold">
          {{ presetAverages.sevenDaysAverage | currency : "INR" }}
        </p>
      </div>
      <div
        class="bg-warning rounded-lg p-8 flex flex-col items-center justify-center text-white mx-28"
      >
        <h2 class="text-lg font-bold mb-4">This month</h2>
        <p class="text-3xl font-bold">
          {{ presetAverages.monthlyAverage | currency : "INR" }}
        </p>
      </div>
      <div
        class="bg-warning rounded-lg p-8 flex flex-col items-center justify-center text-white mx-28"
      >
        <h2 class="text-lg font-bold mb-4">This year</h2>
        <p class="text-3xl font-bold">
          {{ presetAverages.annualAverage | currency : "INR" }}
        </p>
      </div>
    </div>
  </div>
  <div class="mb-12">
    <h2 class="text-2xl font-bold text-white mb-4">Recent Transactions</h2>
    <table class="table-auto bg-white rounded-lg w-full mb-4">
      <thead>
        <tr>
          <th class="px-4 py-2 text-left text-black">Date</th>
          <th class="px-4 py-2 text-left text-black">Time</th>
          <th class="px-4 py-2 text-left text-black">Description</th>
          <th class="px-4 py-2 text-left text-black">Category</th>
          <th class="px-4 py-2 text-right text-black">Amount</th>
        </tr>
      </thead>
      <tbody *ngFor="let transaction of transactions">
        <tr>
          <td class="px-4 py-2 text-gray">
            {{ transaction.transactionDate }}
          </td>
          <td class="px-4 py-2 text-gray">
            {{ formatTime(transaction.transactionTime) }}
          </td>
          <td class="px-4 py-2 text-gray">
            {{ transaction.description }}
          </td>
          <td class="px-4 py-2 text-gray">
            {{ transaction.category }}
          </td>
          <td
            [ngClass]="{
              'text-safe': transaction.type === 'earn',
              'text-danger': transaction.type === 'spend'
            }"
            class="px-4 py-2 text-right"
          >
            {{ transaction.amount | currency : "INR" }}
          </td>
        </tr>
      </tbody>
    </table>
    <button
      routerLink="/transactions"
      class="bg-blue-500 rounded-lg text-white text-xl font-bold p-4"
    >
      Show More
    </button>
  </div>
</div>
