<div class="w-16 h-16 text-2xl flex justify-center items-center bg-black text-white border border-white cursor-pointer z-50 fixed bottom-8 right-8 rounded-full p-4" (click)="goTop()">
  <i class="fa-solid fa-arrow-up"></i>
</div>
<ng-container *ngIf="!isAuthRoute()">
  <ng-container *ngIf="isAuthenticated()">
    <div class="flex w-full max-w-[95vw]" [class.dark]="!lightTheme">
      <app-sidebar (sidebarToggled)="toggleSidebar($event)" (lightThemeToggled)="toggleLightTheme($event)"></app-sidebar>
      <div [style.width]="sidebarOpen ? 'calc(100vw - 250px)' : 'calc(100vw - 75px)'" class="top-0s">
        <app-navbar [sidebarOpen]="sidebarOpen" [lightTheme]="lightTheme"></app-navbar>
        <div [ngClass]="sidebarOpen ? 'pl-[250px]' : 'pl-[75px]'" class="transition-all duration-500 w-[100vw] absolute top-[4rem] min-h-[calc(100vh-4rem)] bg-primary-bg dark:bg-dark-secondary text-primary">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!isAuthenticated()">
    <div class="flex w-full max-w-[95vw]" [class.dark]="!lightTheme">
      <div class="top-0">
        <app-navbar [sidebarOpen]="sidebarOpen" [lightTheme]="lightTheme"></app-navbar>
        <div class="transition-all duration-500 w-[100vw] absolute top-[4rem] min-h-[calc(100vh-4rem)] bg-secondary dark:bg-dark-secondary text-primary">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-container *ngIf="isAuthRoute()">
  <router-outlet></router-outlet>
</ng-container>
